body {
  background-image: url('dice.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.topbar {
  background-color: #397d2f;
  font-size: 0.7em;
  align-items: center;
  padding: 0.5em 0.5em;
}

#title {
  float: left;
  font-weight: bold;
  text-align: center;
}
#player {
  float: left;
  font-weight: bold;
  text-align: center;
}
#room {
  padding-left: 20px;
  float: left;
}
#roomid {
  padding-left: 20px;
  float: left;
}

.home {
  background-color: red;
  padding: 1%;
  margin: 1%;
  width: auto;
}

.modal {
  position: fixed;
  z-index: 1500;
  background-color: white;
  box-sizing: border-box;
  width: 350px;
  height: auto;
  border: 3px solid #ccc;
  box-shadow: 3px 3px 3px black;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  left: 25%;
  top: 10%;
}

.low {
  font-weight: bold;
  color: red;
}

.high {
  font-weight: bold;
  color: blue;
}

.lower-or-higher {
  font-weight: bold;
  color: green;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  /* background-color: blue; */
}
