body {
  background-image: url('dice.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.topbar {
  background-color: #397d2f;
  font-size: 0.7em;
  align-items: center;
  padding: 0.5em 0.5em;
  font-weight: bold;
}

#title {
  float: left;
  text-align: center;
}
#player {
  float: left;
  text-align: center;
}
#room {
  padding-left: 20px;
  float: left;
}

#info {
  float: right;
  align-self: center;
  margin-right: 2em;
}

.tooltip > .tooltip-inner {
  font-size: 0.6em;
  background-color: #fff;
  color: #062e56;
  border: 0.5px solid #062e56;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

/* tooltip-arrow style has no effect */
.tooltip > .tooltip-arrow {
  border-top: 5px solid red;
}

.loginContainer {
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.5em 0.5em;
  margin: 0.5em 0.5em;
  width: 20em;
}

.loginSet {
  display: inline-block;
  align-items: center;
  width: 100%;
  margin-left: 1em;
  margin-right: 0em;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: solid #397d2f;
  border-width: 2px;
  border-radius: 0.5em;
}

.mainContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 40em;
  padding: 0.2em 0.2em;
  margin: 0.5em 0.5em;
  border: solid #397d2f;
  border-width: 2px;
  border-radius: 0.5em;
  font-size: 0.6em;
  font-weight: bold;
}

.hld-table {
  border-collapse: separate;
  border-spacing: 0em 0em;
  background: rgba(57, 125, 47, 0.7);
  width: 100%;
}

.loginGroup {
  padding-top: 0.3em;
}

.aling-buttons {
  display: flex;
  align-items: center;
}

/* btn-hld color does not work but when btn-hld exits color can be set in loginbutton*/
.btn-hld{
  color: red; 
}

.loginButton {
  font-size: 0.8em;
  font-weight: bold;
  width: 25% !important;
  padding: 0.4em;
  margin-left: 0.1em;
  background-color: #397d2f;
}

.modal1 {
  position: fixed;
  z-index: 1500;
  background-color: white;
  box-sizing: border-box;
  width: 350px;
  height: auto;
  border: 3px solid #ccc;
  box-shadow: 3px 3px 3px black;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  left: 25%;
  top: 10%;
}

.infoModal {
  background-color: #397d2f;
  border: 3px solid #397d2f;
  border-radius: 0.7em;
  box-shadow: 3px 3px 3px black;
  top: 5%;
  font-size: 0.7em;
}

.low {
  font-weight: bold;
  color: red;
}

.high {
  font-weight: bold;
  color: blue;
}

.lower-or-higher {
  font-weight: bold;
  color: green;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  /* background-color: blue; */
}
